/* responsive css start */
/* container css start */
@media (min-width: 1140px) {
 
}
@media (min-width: 1200px) {

}
@media (min-width: 1350px) {

}
@media (min-width: 1600px) {

}
/* container css end */
/* general use css start */
@media (max-width: 1799px) {
    .auth-section .auth-right-col{
        padding: 50px 90px 50px 100px;
    }
    .step-form-btn-wrap {
        margin-top: 30px;
    }
    .membership-plan-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    #msform fieldset{
        padding: 20px 30px;
    }
    #msform{
        margin-top: 30px;
    }
}
@media (max-width: 1599px) {
    .auth-section .auth-right-col{
        padding: 50px 60px 50px 70px;
    }
    .heading-label-p{
        font-size: 16px;
    }
    .heading-title{
        font-size: 33px;
    }
    #msform fieldset {
        padding: 20px 0;
    }
}
@media (max-width: 1439px) {
    .membership-plan-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 1365px) {

}
@media (max-width: 1279px) {
    .auth-section .auth-right-col{
        padding: 50px 40px 50px 50px;
    }
}
@media (max-width: 1199px) {
    :root{
        --auth-left-col-width: 55%;
    }
    .membership-plan-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    #progressbar li{
        font-size: 12px;
    }
}
@media (max-width: 991px) {
    :root{
        --auth-left-col-width: 50%;
    }
    .auth-section .auth-right-col {
        padding: 50px 20px 50px 30px;
    }
    .primary-btn{
        border-radius: 6px;
        min-width: 150px;
        min-height: 40px;
        font-size: 14px;
    }
    .custom-input, .custom-textarea{
        min-height: 45px;
    }
    .custom-input, .custom-textarea{
        border-radius: 10px;
    }
    .auth-section.sign-up-section .auth-right-col {
        padding: 20px;
    }
    #progressbar li:before {
        width: 26px;
        height: 26px;
        font-size: 14px;
    }
    #progressbar li {
        font-size: 9px;
    }
}
@media (max-width: 767px) {
    :root{
        --auth-left-col-width: 30%;
    }
    .auth-section .auth-left-col{
        padding: 20px;
    }
    .heading-title{
        font-size: 26px;
    }
    .custom-input, .custom-textarea{
        padding: 7px 15px;
        font-size: 14px;
    }
    .form-control::placeholder {
        font-size: 14px;
    }
    .icon-input .form-control {
        padding-left: 45px;
    }
    .icon-input-pass .form-control {
        padding-left: 45px;
        padding-right: 45px;
    }
    .icon-input-span{
        left: 15px;
    }
    .icon-input-span.eye-ico {
        left: unset;
        right: 15px;
    }
    .auth-new-acc-txt,.auth-bottom-txt {
        font-size: 11px;
    }
    form{
        margin-top: 20px;
        max-height: max-content;
        overflow-y: unset;
        padding-right: 0;
    }
    .auth-main-row{
        height: auto;
        overflow-y: unset;
    }
    .auth-section .auth-left-col{
        display: none;
    }
    .auth-section .auth-right-col{
        width: 100%;
        min-height: 100vh;
    }
    .auth-section.sign-up-section .auth-right-col{
        width: 100%;
    }
    #progressbar{
        margin-bottom: 0;
    }
    .step-form-btn-wrap {
        margin-top: 10px;
    }
    .membership-plan-grid{
        margin-bottom: 24px;
    }
    .form-group {
        margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
    .auth-section .auth-left-col{
        padding: 10px;
    }
    .heading-title {
        font-size: 24px;
    }
    .auth-section .auth-right-col {
        padding: 50px 20px;
    }
    .heading-label-p {
        font-size: 14px;
    }
    .auth-section.sign-up-section .auth-right-col {
        padding: 20px 10px;
    }
    #msform {
        margin-top: 20px;
    }
    .step-form-btn-wrap{
        min-width: 100px;
    }
}
@media (max-width: 399px) {
    .heading-title {
        font-size: 20px;
    }
}
@media (max-width: 349px) {
   
}
/* general use css end */